{% extends "base.html.twig" %}

{% block layout %}
    <div class="container">
        {% block content %}
            <p class="text-muted">No content</p>
        {% endblock %}
    </div>
{% endblock %}
