<form action='/comments/post' method='post'>
    <label style='display:block;'>Name<input name='name'/></label>
    <label style='display:block;'>Email<input name='email'/></label>
    <label style='display:block;'>Message<textarea name='message'></textarea></label>
    <button>Create</button>
</form>
